.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    div {
        flex: 1;
    }
}
.title {
    font-weight: 600;
    font-size: 72px;
    margin-bottom: 30px;
    background: linear-gradient(to bottom, #6495EDFF, #F0F8FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    font-size: 20px;
    margin-bottom: 40px;
}

.image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    animation: move 3s infinite ease alternate;
}

@keyframes move {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.03);
    }
}